body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

.list_navl {
    display: flex;
    align-items: center;
    width: 100%;
}

.list_navr {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: goldenrod;
  }


#banniere {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-image: url("../images/Biere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: goldenrod;
    font-size: 500%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
